on:
  push:
    branches: [$default-branch]
  pull_request:
name: ci
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20, 22]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm i --production --engine-strict --ignore-scripts
      - run: node --version
      - run: npm ci
      - run: npm test
      - name: coverage
        uses: codecov/codecov-action@v4
        with:
          name: actions ${{ matrix.node }}
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm ci
      - run: npm run system-test
  system_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm ci
      - run: npm run system-test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm ci
      - run: npm run lint
  license_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@v6
        with:
          node-version: 18
      - run: npm ci
      - run: npm run license-check
